{% extends 'blog/base.html' %}

{% block title %}{{ post.title }} - My Blog{% endblock %}

{% block content %}
<div class="post-detail">
 <h1>{{ post.title }}</h1>
    <p>Author: {{ post.author.username }}</p>
    <p>Category: {{ post.category }}</p>
    <p>Created at: {{ post.created_at }}</p>
    <p>{{ post.content }}</p>

    {% if post.image %}
    <img src="{{ post.image.url }}" alt="Post Image" style="width:100%; max-width:600px;">
    {% endif %}
</div>

<h2>Comments</h2>
<ul>
    {% for comment in comments %}
        <li><strong>{{ comment.user.username }}</strong>: {{ comment.content }}</li>
    {% endfor %}
</ul>

{% if user.is_authenticated %}
    <h3>Leave a Comment</h3>
    <form method="post" action="{% url 'add_comment' pk=post.pk %}">
    {% csrf_token %}
    <textarea name="content" class="form-control mb-2" rows="4" placeholder="Add a comment" required></textarea>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% else %}
    <p><a href="/login/">Login</a> to leave a comment.</p>
{% endif %}
{% endblock %}
